.Headings {
  color: whitesmoke;
}

.forecast-item {
  text-align: center;
  padding: 10px;
  background-color: rgba(221, 210, 210, 0.144);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px none;
}

.container-sm{
    background-color: rgba(243, 243, 243, 0.212);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-xl{
    background-color: rgba(177, 191, 196, 0.404);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px none;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

